<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EcommerceSuite">
    <listeners>
        <listener class-name="listeners.TestNGListener"/>
    </listeners>

    <test name="LoginTests">
        <classes>
            <class name="tests.loginTest"/>
            <class name="tests.checkproductname"></class>
        </classes>
    </test>
</suite>